// Main styles
$primary-color: #fcaf32;
$secondary-color: #fc888e;
$text-color:#9a9a9a;
$checkbox-width-height: 15px;
$titels-family: 'Lobster', cursive;
html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
 
}
.success{
  font-family: $titels-family;
  display: none;
  font-size: 40px;
  font-weight: 400;
 }

.btn-main {
  appearance: none;
  background: transparent;
  border: 0;
  font-family: $titels-family;
  cursor: pointer;
  font-size: 42px;
  height: 60px;
  outline: none;
  padding: 0 20px;
  position: relative;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.15);
  }
}
.password__error_notification{
  display: none;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both; 
  position: absolute;
  top: 0;
  right: 2em;
  ul{
    list-style: none;
    background: #fff;
    line-height: 1.5;
    border-radius: 8px;
    padding: 1em;

  }
}

.popup__background{
  position: relative;
  background: white;
  width: 250px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    &>h2{
      font-family: Lobster;
      margin: 1em 0em .5em 0em;
    }
    .popup__close{
      position: absolute;
      top: -25px;
      right: -25px;
      cursor: pointer;
    }
    #error{
      color: red;
      font-size: 13px;
      margin-top: 1em;
      text-align: center;
    }
}
.form__inputs{
  .popup__input{
    input{
      padding: 1em;
      border: 2px solid $text-color;
      outline: none;
    }
    &:not(:last-child){
      margin-bottom: 1em;
    }
  
  }
}
.popup{
  border: none;
  border-radius: 6px;

}
.login__form{
  text-align: center;
  label{
    color: #3c3a3a;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    user-select: none;
  }
  button{
    border: none;
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    outline: none;
    background-color: black;
    color: #fff;
    position: relative;
    font-weight: 900;
    font-family: Lato;
    cursor: pointer;
    font-size: 12px;
    &:disabled{
      background: silver;
      cursor: default;
      &:hover{
        background: silver;
      }
    }
    &:hover{
      background: #f2868c;
    }
  }
  .rules{    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.8em 0em 1.5em 0em;
    input[type=checkbox] {
      transform: scale(1.2);
    }
    input[type=checkbox] {
      width: 15px;
      visibility: hidden;
      height: 15px;
      margin-right: 10px;
    }
    input[type=checkbox]:after {
      content: " ";
      background-color: #fff;
      display: block;
      color: #000;
      width: $checkbox-width-height;
      height: $checkbox-width-height;
      visibility: visible;
      border: 1px solid #000;
    }
    input[type=checkbox]:checked:after {
      content: "\2714";
      font-weight: bold;
      display: flex;
      justify-content: center;
      width: $checkbox-width-height;
      height: $checkbox-width-height;
    }
  }
}
.show__success{
  display: block;
  animation-name: appear;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInUp{
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInDown{
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes appear{
  0% {
    opacity: 0;
}
25%{
  opacity: 0.25;
}
50%{
  opacity: 0.5;
}
75%{

  opacity: 0.75;
}
100% {
  opacity: 1;
  }
}
@keyframes fadeInUp{
  0% {
    transform: translateY(40px);
}
100% {
    transform: translateY(0);
  }
}
@keyframes fadeInDown{
  0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(40px);
  }
}
